<!DOCTYPE HTML>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<title>Session</title>
	</head>
	<body>
		<h1>Bonjour cela vous compte le nombre de connexion session :
			{{ app.session.get('nbVisit') }}</h1>
	</body>
</html>
